* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

html {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --font-familiy-sans-serif: "Source Sans Pro", sans-serif;
    --font-familiy-serif: "Libre Baskerville", serif;
    --breakpoint-s: 480px;
    --breakpint-m: 768px;
    --breakpoint-l: 992px;
    --max-width: 1160px;
    --color-primary: #fef1a2;
    --color-secondary: #bb8619;
    --color-inner-cta: #856d47;
    --color-bg: #f5f3ec;
    --color-text: #666666;
    --color-footer: rgb(0, 0, 0, 0.9);
    --box-shadow: 0 0 30px rgb(0, 0, 0, 20%);
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
    overflow: overlay;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--color-bg);
}

h1,
h2 {
    font-family: var(--font-familiy-serif);
    font-weight: var(--font-weight-light);
}

a {
    text-decoration: none;
    color: white;
}

p,
a,
button,
span,
select,
option,
input,
textarea {
    font-family: var(--font-familiy-sans-serif);
    font-weight: var(--font-weight-regular);
}

input,
textarea {
    outline: none;
    border: 2px solid var(--color-text);
    font-size: 16px;
}

button {
    font-size: 14px;
    border-width: 0;
    letter-spacing: 1px;
    outline: 0;
}

abbr {
    text-decoration: none;
    font-size: 16px !important;
}

@media screen and (max-width: 480px) {
    .home-location-items {
        display: block !important;
    }

    .navbar-phone {
        display: none;
    }

    .reservations-container,
    .contact-container {
        padding-block: 60px;
    }

    .reservations-container,
    .home-container-facilities,
    .home-container-location-wrapper,
    .footer,
    .content,
    .navbar,
    .gallery,
    .contact-container {
        padding-inline: 15px;
    }

    .reservations-container-content-item-inner {
        /* width: 100% !important; */
    }

    .reservations-container-title {
        margin-bottom: 30px;
    }

    .content-title {
        font-size: 40px;
    }

    .home-container-item-text-title,
    .home-container-facilities-title {
        font-size: 30px;
    }

    .gallery-container {
        columns: 1 !important;
    }

    .contact-container {
        padding-inline: 30px !important;
    }
}

@media screen and (max-width: 768px) {
    .home-container-item {
        flex-direction: column;
    }

    .home-container-item:nth-child(2) {
        flex-direction: column-reverse;
    }

    .facilities-tag {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .facilities-tag svg,
    .facilities-tag span {
        display: block;
    }

    .facilities-tag svg {
        margin: 0 auto;
    }

    .facilities-tag span {
        margin-top: 5px;
    }

    .home-container-location {
        /* display: block; */
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    .home-container-item {
        padding-inline: 15px !important;
    }

    .home-container-location-content {
        /* width: 100%; */
    }

    .home-container-location-map {
        width: 100%;
    }

    .home-container-location-map iframe {
        height: 50vw;
    }

    .home-location-items {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    .navbar-menu {
        display: none;
    }

    .navbar-menu-mobile {
        display: block !important;
    }

    .gallery-container {
        columns: 2;
    }

    .contact-container {
        padding-inline: 60px;
    }

    .contact-form-top {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    .home-container-facilities-tags {
        grid-template-columns: 1fr 1fr;
    }

    .rooms-container-item {
        flex-direction: column;
    }

    .rooms .swiper-container {
        width: 100%;
        height: max-content;
        max-width: max-content;
    }

    .room-carousel-slide {
        margin: 0;
    }

    .rooms-container-item-description {
        gap: 30px;
    }

    .rooms .swiper-wrapper {
        height: 50vw;
        /* justify-content: center; */
        align-items: center;
    }
}
